    <form class="k">
        <div class="form-group" style ="margin-left: 64px;">
            <label for="subject" [ngStyle] ="{color : 'blue'}">Course Year
                <span class = "text-danger"> *</span>
            </label>
        
        <select name="year" id="year" class="form-control" style="margin-bottom: 53px;" [(ngModel)] = "studentMapping.year" (change)="onYear()">
            <option value=1>1 Year</option>
            <option value=2>2 Year</option>
            <option value=3>3 Year</option>
            <option value=4>4 Year</option>
        </select>
            </div>
            <div class="dropdown fixed-width-box">
                <div style="padding-block: 13px;border-color: #000000;border-style: groove;text-transform: capitalize;text-align: -webkit-center;text-wrap: balance;"> {{dropdownLabel}}</div>
                <div style = "margin-top: 12px;"><button (click)="toggleDropdown()">Student Names</button></div>
                <div [hidden] = "toShowNames" style = "color :red;">select the Name</div>
                <div class="dropdown-content " *ngIf="isDropdownOpen" >
                    <ul>
                        <li *ngFor="let n of studentNames">
                            <input 
                                type="checkbox" 
                                [id]="n.id" 
                                [value]="n.name"
                                name="studentName"
                                (change)="onCheckboxChange($event,n)"
                                [checked]="selectedName.includes(n)"
                                
                            > {{ n.name }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="dropdown fixed-width-box">
                <div style="padding-block: 13px;border-color: #000000;border-style: groove;text-transform: capitalize;text-transform: capitalize;text-align: -webkit-center;text-wrap: balance;"> {{dropDownCourse}}</div>
                <div style = "margin-top: 12px;"><button (click)="toggleDropdownCourse()">Courses</button></div>
                <div [hidden] = "toShowCourses" style = "color :red;">select the Courses</div>
                <div [hidden] = "toShowSame" style = "color :red;">course is already added</div>
                <div class="dropdown-content" *ngIf="isDropDownCourse">
                    
                    <ul>
                        <li *ngFor="let n of CourseNames">
                        <input 
                            type="checkbox" 
                            [id]="n.course_id" 
                            [value]="n.course_name"
                            name="courseName" 
                            (change)="onCheckboxChangeCourse($event,n)"
                            [checked]="selectedCourse.includes(n)"
                        > {{ n.course_name }}
                    </li>
                </ul>
            </div>
        </div>
    
        



    <div>
    <button class = "btn btn-success" style ="margin-bottom: 3pc;margin-top: 2pc;margin-right: 14px;" (click) = "onSave()">{{button_name}}</button>
    <button class = "btn btn-danger" style ="margin-bottom: 3pc;margin-top: 2pc;" (click) = "onreload()">Reset</button>
    </div>
    </form>



    <div class="row-9 kt">
        <div class="col-7">
            <div class="table-responsive">
              <div class = "se">
                  <input type = "text" placeholder="Search " (input) = "searchBar()" [(ngModel)] = "searchQuery">

                  </div>
                <table class="table table-hover " >
                    <thead class="thead-dark d" *ngIf="!(searchStudentMapping.length === 0)" >
                        <tr class="table-info">
                            <th>Name</th>
                            <th>Course</th>
                            <th>Year</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
      
                        <tr *ngFor="let s of searchStudentMapping" class = "table-danger" >
                            <td>{{ s.name }}</td>
                              <td>{{ s.course }}</td>
                              <td>{{ s.year }}</td>
                              <td>
                                <button type="button" class="btn btn-info mae" (click) = "onEdit(s)">Edit</button>
                                <button  type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="onStore(s.id)">Delete</button>
                              </td>
                          </tr>
                        <tr *ngIf="searchStudentMapping.length === 0" class="fade" > 
                          <td colspan="6" class="text-center" style="color: red;">No results found</td> 
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
              <button type="button" class="close custom-dismiss-button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            Do You want to Delete ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" >Close</button>
              <button type="button" class=" band" (click)="OnDelete(deleteStore)" data-dismiss="modal" >Delete</button>
            </div>
          </div>
        </div>
      </div>